<article *ngIf="ticket; else noObjectTemplate" class="content">
  <section class="card-header">
    <h2>{{ticket.title}}</h2>
  </section>
  <section>
    <section>
      <p>Description:</p>
      <p>{{ticket.description}}</p>
    </section>
    <section>
      <p>User Name:</p>
      <p>{{user?.name}}</p>
    </section>
    <section>
      <p>Customer Name:</p>
      <p>{{customer?.fName}} {{customer?.lName}}</p>
    </section>
    <section>
      <p>Level Name:</p>
      <p>{{level?.name}}</p>
    </section>
    <section>
      <p>Updated At:</p>
      <p>{{ticket.updatedAt}}</p>
    </section>
  </section>
</article>

<ng-template #noObjectTemplate>
  <p>Fetching Ticket</p>
</ng-template>
