<article *ngIf="ticket; else noObjectTemplate" class="content">
  <section class="card-header">
    <h2>{{ticket.title}}</h2>
  </section>
  <section class="card-content">
    <section class="card-section">
      <p class="card-label">Description:</p>
      <pre>{{ticket.description}}</pre>
    </section>
    <section class="card-section">
      <p class="card-label">User:</p>
      <p>{{user?.name}}</p>
    </section>
    <section class="card-section">
      <p class="card-label">Customer:</p>
      <p>{{customer?.fName}} {{customer?.lName}}</p>
    </section>
    <section class="card-section">
      <p class="card-label">Level:</p>
      <p>{{level?.name}}</p>
    </section>
    <section class="card-section">
      <p class="card-label">Updated At:</p>
      <p>{{ticket.updatedAt}}</p>
    </section>
  </section>
</article>

<ng-template #noObjectTemplate>
  <p>Fetching Ticket</p>
</ng-template>
