*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Be Vietnam Pro', sans-serif;
  color: white;
  background-color: var(--background);
}

:root {
  --primary-color: #7f88cf;
  --secondary-color: #222238;
  --accent-color: #353546;
  --shadow-color: #E8E8E8;
  --background: #010409;
}

button.primary
{
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: rgb(41, 41, 41);
  border-radius: 8px;
}
