form {
  max-width: 600px;
  margin: 20px auto; /* Added extra space above the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #133558;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form textarea {
  resize: none;
  height: 350px;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

form button:not(:disabled):hover {
  background-color: #0056b3;
}

form .disabled {
  opacity: 0.6;
  pointer-events: none;
}

form label {
  color: #fff;
}
